<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoExt1</key>
	<string>http://www.youtube.com/watch?v=IXTc_9wYViM</string>
	<key>VideoExt2</key>
	<string>http://www.youtube.com/watch?v=ZMzjUaGKtBM</string>
	<key>VideoExt3</key>
	<string>http://www.youtube.com/watch?v=I0r4Wo2Q3l4</string>
</dict>
</plist>
